<div class="ms-sidebar">
  <div class="sidebar-title d-flex align-center">
    <div class="sidebar-toggle icon-menu"></div>
    <div class="sidebar-logo d-flex align-center">
      <div class="logo-sidebar"></div>
      <div class="logo-name">Công việc</div>
    </div>
  </div>
  <div class="sidebar-content">
    <div class="main-sidebar" *ngFor="let item of mainMenuItems">
      <div class="item-content padding-item-content-16 ">
        <div class="{{item.icon}} item-icon"></div>
        <div class="icon-text"> {{item.text}} </div>
      </div>
    </div>
    <div class="sidebar-search"></div>
    <div class="sidebar-scroll">scroll</div>
  </div>
</div>
