<dx-popup class="ms-popup" [width]="popupWidth" height="auto" [shadingColor]="'rgba(0, 0, 0, 0.45)'"
  [dragEnabled]="true" (onHidden)="closePopup()" [visible]="popupVisible" (onShown)="focusInput()"
  contentTemplate="currentTemplate" titleTemplate="title">

  <div *dxTemplate="let data of 'currentTemplate'">
    <div class="popup-project">
      <app-text-field #projectNameInput [inputLabel]="popupProjectVar.PopupProjectNameLabel"
        [inputPlaceholder]="popupProjectVar.PopupProjectNamePlaceholder" [isRequired]="true" [(model)]="nameInput">
      </app-text-field>

      <div class="text-field__group">

        <app-select-box #selectBox selectBoxName="DepartmentId" [selectBoxLabel]="popupProjectVar.PopupProjectDepartmentLabel"
          [inputPlaceholder]="popupProjectVar.PopupProjectDepartmentPlaceholder" [selectBoxData]="departmentOptions"
          selectBoxValueExpression="DepartmentId" selectBoxDisplayExpression="DepartmentName"
          (onSelected)="bindData($event)" [isRequired]="true" [ngStyle]="{width: '50%'}"></app-select-box>

        <app-date-box #startDateInput dateBoxName="StartDate" [dateBoxLabel]="popupProjectVar.PopupProjectFromDateLabel"
          [inputPlaceholder]="popupProjectVar.PopupProjectFromDatePlaceholder" (onValueChanged)="bindData($event)"
          [ngStyle]="{width: '25%'}"></app-date-box>

        <app-date-box #endDateInput dateBoxName="EndDate" [dateBoxLabel]="popupProjectVar.PopupProjectToDateLabel"
          [inputPlaceholder]="popupProjectVar.PopupProjectToDatePlaceholder" (onValueChanged)="bindData($event)"
          [ngStyle]="{width: '25%'}"></app-date-box>
      </div>

      <app-text-field #areaInput [inputLabel]="popupProjectVar.PopupProjectDescriptionLabel"
        [inputPlaceholder]="popupProjectVar.PopupProjectDescriptionPlaceholder" [textFieldHeight]="'78px'"
        [textArea]="true" [(modelArea)]="descriptionInput"></app-text-field>

      <app-text-field #memberInput [inputLabel]="popupProjectVar.PopupProjectMemberLabel"
        [inputPlaceholder]="popupProjectVar.PopupProjectMemberPlaceholder" [popoverWidth]="popoverWidth"
        bonusClass="ms-text-field__with-list" [bonusButton]="selectMemberButton" (userListChange)="addUserList($event)">
      </app-text-field>


      <app-user-list [userList]="userList"></app-user-list>

      <div class="ms-modal__footer">
        <div class="ms-modal__button--secondary" (click)="closePopup()">
          {{ popupProjectVar.PopupCloseButton }}
        </div>

        <app-button [buttonText]="popupProjectVar.PopupSaveButton" (click)="saveData()">
        </app-button>
      </div>
    </div>
  </div>

  <div *dxTemplate="let data of 'title'">
    <div class="popup-header d-flex content-between align-center">
      <div class="popup-title">{{popupTitle}}</div>
      <div class="button-close dx-icon-close" (click)="closePopup()"></div>
    </div>
  </div>
</dx-popup>
