<dx-popup class="ms-popup" [width]="popupWidth" height="auto" [shadingColor]="'rgba(0, 0, 0, 0.45)'"
  [dragEnabled]="true" (onHidden)="closePopup()" [visible]="popupVisible" (onShown)="resetInput()"
  contentTemplate="currentTemplate" titleTemplate="title">

  <div *dxTemplate="let data of 'currentTemplate'">
    <div class="ms-modal__member">
      <!-- Các công cụ lọc dữ liệu bảng -->
      <div class="ms-modal__member-filter">
        <app-text-field #search [ngStyle]="{width: '60%'}" inputMode="search"
          [inputPlaceholder]="modalConst['ModalFieldSearchPlaceholder']"></app-text-field>

        <app-text-field [ngStyle]="{width: '40%'}"></app-text-field>
      </div>

      <!-- Thông tin số lượng chọn -->
      <div class="ms-modal__member-selection">
        <div>0 {{ modalConst['SelectingMember'] }}</div>
        <div>{{ modalConst['SelectionUndo'] }}</div>
      </div>

      <!-- Danh sách nhân viên dạng bảng -->
      <dx-data-grid [dataSource]="gridData" keyExpr="UserId" height="273" [allowColumnResizing]="false"
        [showBorders]="false" [showRowLines]="false" [showColumnLines]="false" [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true">
        <dxo-sorting mode="none"></dxo-sorting>

        <dxo-scrolling [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="always" mode="virtual">
        </dxo-scrolling>

        <dxo-selection mode="multiple"></dxo-selection>

        <dxi-column *ngFor="let column of gridColumns" alignment="left" [caption]="column['ColName']"
          [dataField]="column['ColField']" width="auto"></dxi-column>
      </dx-data-grid>

      <!-- Footer của modal -->
      <!-- <app-tms-popup-modal-footer
      (onPopupHidden)="hidePopup()"
    ></app-tms-popup-modal-footer> -->
      <div class="ms-modal__footer">
        <div class="ms-modal__button--secondary" (click)="closePopup()">
          {{ popupMemberVar.PopupCloseButton }}
        </div>

        <app-button [buttonText]="popupMemberVar.PopupSaveButton">
        </app-button>
      </div>
    </div>
  </div>

  <div *dxTemplate="let data of 'title'">
    <div class="popup-header d-flex content-between align-center">
      <div class="popup-title">{{popupTitle}}</div>
      <div class="button-close dx-icon-close" (click)="closePopup()"></div>
    </div>
  </div>
</dx-popup>
