@use "../../../../../styles/colors.scss" as *;
  

.ms-modal__member {
    padding: 0 24px;
  
    &-filter {
      display: flex;
      gap: 16px;
    }
  
    &-selection {
      display: flex;
      gap: 16px;
      margin-bottom: 4px;
    }
  }
  

.popup-header {
  color: #1f1f1f !important;
  font-weight: 700;
  font-size: 24px;
  padding: 16px 24px;

  .popup-title {
    font-family: "GoogleSans-Bold", sans-serif;
  }

  .dx-icon-close {
    font: 20px/1 DXIcons;
    cursor: pointer;
  }
}

.ms-modal__footer {
  padding: 24px 0 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.ms-modal__button--secondary {
  color: $color-blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}