.popup-header {
  color: #1f1f1f !important;
  font-weight: 700;
  font-size: 24px;
  padding: 10px 4px;

  .popup-title{
    font-family: 'GoogleSans-Regular';
  }
  .dx-icon-close {
    font: 20px/1 DXIcons;
    cursor: pointer;
  }
}

.dx-popup-title {
  border: none !important;
}

.dx-popup-content{
  padding: 0 24px !important;
}