.popup {
  font-family: 'GoogleSans-Regular', sans-serif;
  font-size: 15px;
  color: #1f1f1f !important;
}

.popup-header {
  color: #1f1f1f !important;
  font-weight: 700;
  font-size: 24px;
  padding: 16px 24px;

  .popup-title{
    font-family: 'GoogleSans-Regular';
  }
  .dx-icon-close {
    font: 20px/1 DXIcons;
    cursor: pointer;
  }
}



