$color-primary: #007BFF;
$color-primary-hover: #2A7EFC;
$color-primary-hightlight: #0062CC;

$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #E0E0E0;
$color-grey-light: #FAFAFA;
$color-blue: #2196F3;
$color-blue-light: #e1eeff;
$color-red: #FF0000;

$color-white-light: rgba($color-white, 0.16);
$color-white-medium: rgba($color-white, 0.3);

$color-black-light: rgba($color-black, 0.45);

$color-grid-bg: #F2F2F2;

$color-user: #3AC4AB;

$color-text: #1F1F1F;

$color-sidebar: rgba($color-black, 0.7);
$color-sidebar-hover: #212121;