@import "./fonts.scss";
@import "./colors.scss";
@import "./mixins.scss";

.dx-popup-title {
  padding: 0;
}

.dx-theme-generic-typography,
.dx-overlay-wrapper {
  font-family: "GoogleSans-Light", sans-serif;
  font-size: 15px;
  color: $color-text !important;


    
}

.dx-overlay-wrapper{
  &.popup__task-popover{
    &.deadline{
      .text-field {
        margin: 0 !important;
      margin-bottom: 8px !important;
    }
    }
    .text-field {
      margin: 0 24px;
      margin-bottom: 8px !important;
    }
  }
  &.ms-nav__popover{
     .text-field {
      margin: 24px;
      margin-bottom: 0 !important;
    }
  }
}
.dx-editor-underlined .dx-texteditor-input {
  font-family: "GoogleSans-Light", sans-serif;
  font-size: 15px;
  color: $color-white !important;
}

.dx-placeholder {
  font-family: "GoogleSans-Light", sans-serif;
  font-size: 15px;
}

.dx-texteditor {
  &.dx-editor-outlined {
    border-radius: 8px;
    border: 1px solid $color-grey;
  }

  &.dx-state-hover {
    @include input-box-shadow;
    border-color: $color-blue;
  }

  &.dx-state-focused {
    &.dx-editor-outlined {
      @include input-box-shadow;
      border-color: $color-blue;
    }
  }
}

.ms-text-field__with-list.dx-texteditor.dx-editor-outlined {
  border-radius: 8px 8px 0 0 !important;
}

.dx-overlay-wrapper input,
.dx-overlay-wrapper textarea {
  font-family: "GoogleSans-Regular", sans-serif !important;
  font-size: 15px;
    color: #1f1f1f;
}

.dx-texteditor-input {
  padding: 7px 16px 8px;
}

.modal {
  .dx-placeholder {
    left: 7px;
    color: #b9b9b9;
  }
}

.dx-popup {
  &-title {
    border-bottom: none;

    &.dx-toolbar {
      padding: 16px 24px !important;
    }
  }

  &-content {
    padding: 8px 0;
  }
}

.popup__task-popover.deadline .dx-popup-content {
  padding: 0 16px;
}

.text-field__popover .dx-popup-content {
  max-height: 300px !important;
}

.dx-toolbar-label>div {
  font-size: 24px !important;
  font-family: "GoogleSans-Bold", sans-serif;
  overflow: visible;
}

.dx-toolbar-label .dx-toolbar-item-content>div {
  overflow: visible;
}

.dx-button-has-text .dx-button-content {
  padding-left: 16px;
  padding-right: 16px;
}

.dx-button-mode-contained {
  background-color: $color-blue;
  color: $color-white;
  border-color: transparent;
  border-radius: 8px;

  &.dx-state-hover,
  &.dx-state-focused,
  &.dx-state-active {
    background-color: $color-primary-hover;
    border-color: $color-primary-hightlight;
  }
}

.dx-list .dx-empty-message,
.dx-list-item-content {
  height: 40px;
  padding: 0 12px;
}

.dx-list .dx-empty-message,
.dx-list-item {
  border-top: none;
  font-family: "GoogleSans-Light", sans-serif;
  font-size: 14px;
  color: $color-text;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item {

  &.dx-state-hover,
  &.dx-state-focused,
  &.dx-state-active {
    background-color: $color-blue-light;
    color: $color-text;
  }
}

.dx-row.dx-data-row.dx-row-lines.dx-column-lines.dx-state-hover {
  @include table-row-shadow;
  background-color: $color-blue-light;
}

.dx-datagrid-headers {
  background: #f2f2f2;
  border-bottom: none;
}

.dx-datagrid-borders .dx-datagrid-rowsview,
.dx-datagrid-headers+.dx-datagrid-rowsview {
  border-top: none;
}

.dx-datagrid-table .dx-row .dx-command-select {
  min-width: 20px !important;
  width: 20px !important;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row>td {

  font-size: 16px;
  font-family: 'GoogleSans-Regular';
  color: #1f1f1f;
  padding-left: 16px;
  font-weight: 600;
  line-height: 27px;
}

.dx-datagrid .dx-column-lines>td {
  border-top: 1px solid #e0e0e0;
}

.dx-datagrid .dx-row>td {
  font-size: 15px;
  font-family: 'GoogleSans-Regular';
  color: #1f1f1f;
  line-height: 29px;
  padding-left: 30px;
}

.dx-datagrid-content .dx-datagrid-table .dx-row>td:first-child,
.dx-datagrid-content .dx-datagrid-table .dx-row>tr>td:first-child {
  padding: 7px;
}

.ms-report__chart {

  .dxc-arg-elements,
  .dxc-val-title,
  .dxc-item {
    fill: $color-text !important;

    text {
      font-family: "GoogleSans-Light", sans-serif !important;
      font-size: 13px !important;
      fill: $color-text !important;
    }
  }
}

.dx-placeholder::before {
  padding-left: 16px;
}


//region Grid
.dx-datagrid {
  border-radius: 0 0 8px 8px;
  color: $color-text;
  font-family: "GoogleSans-Light", sans-serif;
  font-size: 15px;
  overflow: hidden;
}

.dx-datagrid-headers {
  font-size: 16px;
  color: $color-text;
  font-family: "GoogleSans-Bold", sans-serif;
  background-color: $color-grid-bg;
}

.ms-modal__member {
  .dx-datagrid-headers {
    font-size: 15px;
    background-color: transparent;
  }
}

.dx-datagrid-content .dx-datagrid-table.dx-datagrid-table-fixed {
  height: 42px;
}

.dx-datagrid-content .dx-datagrid-table .dx-row>td:first-child,
.dx-datagrid-content .dx-datagrid-table .dx-row>tr>td:first-child {
  padding-left: 12px;
  padding-right: 12px;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row>td,
.dx-datagrid .dx-row-lines>td {
  border-bottom: 1px solid $color-grey;
}

.dx-datagrid .dx-column-lines>td {
  border-right: 0.5px solid $color-grey;
}

.dx-row.dx-data-row.dx-row-lines.dx-column-lines.dx-state-hover,
.dx-row.dx-data-row.dx-state-hover {
  @include table-row-shadow;
  background-color: $color-blue-light;
  cursor: pointer;
}

.dx-datagrid-rowsview.dx-datagrid-nowrap.dx-command-select {
  width: 40px !important;
  min-width: 40px !important;
  border: none;
}

.ms-modal__member .dx-checkbox-container .dx-checkbox-icon {
  height: 16px !important;
  width: 16px !important;
  margin-right: 10px !important;
  border: 1px solid #9e9e9e !important;
}

//endregion

//region Button
.dx-button-has-text .dx-button-content {
  padding-left: 16px;
  padding-right: 16px;
}

.dx-button-text {
  font-family: "GoogleSans-Regular", sans-serif;
  font-size: 15px;
}

.dx-button-mode-contained {
  background-color: $color-blue;
  color: $color-white;
  border-color: transparent;
  border-radius: 8px;

  &.dx-state-hover,
  &.dx-state-focused,
  &.dx-state-active {
    background-color: $color-primary-hover;
    border-color: $color-primary-hightlight;
    color: $color-white;
  }
}

.ms-text-field__with-list,
.dx-calendar {
  .dx-button-mode-contained {
    background-color: transparent;
    color: $color-blue;
    font-family: "GoogleSans-Regular", sans-serif;
    font-size: 15px;

    img {
      margin-right: 4px;
    }

    &.dx-state-hover,
    &.dx-state-focused,
    &.dx-state-active {
      background-color: transparent;
      border-color: transparent;
    }
  }
}

//endregion

//popover region

.text-field__popover.dx-popover-arrow {
  display: none;
}

.popup__task-popover .dx-popover-arrow {
  display: block;
}

.dx-popover-wrapper .dx-overlay-content {
  top: -9px !important
}

.text-field__popover.dx-list .dx-empty-message,
.dx-list-item-content {
  line-height:26px;
  padding: 7px 9px;
    font-size: 15px;
    font-family: "GoogleSans-Regular", sans-serif;
}

//endregion

//datebox region
.dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon,
.dx-dropdowneditor.dx-state-hover:not(.dx-custom-button-hovered) .dx-dropdowneditor-icon {
  background-color: unset;
}

.dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon,
.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
  background-color: unset;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected {
  background-color: #DEEEF9;
  color: #333;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused.dx-list-item-selected {
  background-color: unset;
}

//endregion


.dx-calendar {
  min-width: unset;
}


//region Slider
.dx-slider {
  &-bar {
    height: 12px;
    border-radius: 8px;
    margin: 7px 0 0;
  }

  &-range {
    height: 100%;
    border-radius: 8px !important;
    background-color: $color-grey;

    &.dx-slider-range-visible {
      background-color: $color-blue;
    }
  }

  &-handle {
    margin-top: -7px;
    width: 20px;
    height: 20px;
    border: 1px solid $color-white;
    background-color: $color-white;
    box-shadow: 0 1px 5px 2px #9e9e9e;
    border-radius: 8px;
  }

  & .dx-state-active {
    &.dx-slider-handle {
      background-color: $color-white;
    }
  }

  & .dx-state-hover,
  & .dx-state-focused {
    &.dx-slider-handle:not(.dx-state-active) {
      background-color: $color-white;
    }
  }
}

//endregion


//region toast
.dx-toast-custom {
  background-color: #3e3e3a;
}

.dx-toast-custom .dx-toast-icon {
  display: none
}

.dx-toast-custom>.dx-template-wrapper {
  display: flex;
  justify-content: center;
}

.dx-toast-custom>.dx-template-wrapper span {
  padding: 0 14px;
  color: #c7c7c7;
}

//endregion
