@import './fonts.scss';

* {
  box-sizing: border-box !important;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'GoogleSans-Regular', Helvetica, Arial, sans-serif;
  font-size: 15px;
  -webkit-user-select: none;
  user-select: none;
  color: #1f1f1f;
  overflow-x: hidden;
}

.required {
  color: #e8384f !important;
}

.height-100 {
  height: 100% !important;
}

.width-100 {
  width: 100% !important;
}

.d-flex {
  display: flex !important;
}

.align-center {
  align-items: center !important;
}

.content-between {
  justify-content: space-between !important;
}
.content-center {
  justify-content: center !important;
}

//devextreme

.dx-popup-content{
  padding: 0 !important;
}

.dx-popup-title {
  padding: 0 !important;
  border: none !important;
}