@use "../../../../../../styles/colors.scss" as *;

.tms-modal__footer {
  padding: 16px 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.tms-modal__button--secondary {
  color: $color-blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
