<dx-popup class="ms-popup" [width]="popupWidth" height="auto" [shadingColor]="'rgba(0, 0, 0, 0.45)'"
  [dragEnabled]="true" (onHidden)="closePopup()" [visible]="popupVisible" (onShown)="resetInput()"
  contentTemplate="currentTemplate" titleTemplate="title">

  <div *dxTemplate="let data of 'currentTemplate'">
    <div class="popup-department">
      <app-text-field #name [inputLabel]="popupDepartmentVar.PopupDepartmentNameLabel"
        [inputPlaceholder]="popupDepartmentVar.PopupDepartmentNamePlaceholder" [isRequired]="true" [(model)]="nameInput">
      </app-text-field>

      <app-text-field [inputLabel]="popupDepartmentVar.PopupDepartmentMemberLabel"
        [inputPlaceholder]="popupDepartmentVar.PopupDepartmentMemberPlaceholder" [popoverWidth]="popoverWidth"
        bonusClass="ms-text-field__with-list" [bonusButton]="selectMemberButton" (userListChange)="addUserList($event)"></app-text-field>

      <app-user-list [userList]="userList"></app-user-list>

      <div class="ms-modal__footer">
        <div class="ms-modal__button--secondary" (click)="closePopup()">
          {{ popupDepartmentVar.PopupCloseButton }}
        </div>

        <app-button [buttonText]="popupDepartmentVar.PopupSaveButton" (click)="saveData()">
        </app-button>
      </div>
    </div>
  </div>

  <div *dxTemplate="let data of 'title'">
    <div class="popup-header d-flex content-between align-center">
      <div class="popup-title">{{popupTitle}}</div>
      <div class="button-close dx-icon-close" (click)="closePopup()"></div>
    </div>
  </div>
</dx-popup>
