<div class="ms-sidebar">
  <div class="sidebar-title d-flex align-center">

    <!-- Main Menu -->
    <div class="sidebar-toggle icon-menu"></div>

    <!-- Logo -->
    <div class="sidebar-logo d-flex align-center">
      <div class="logo-sidebar"></div>
      <div class="logo-name">Công việc</div>
    </div>
  </div>
  <div class="sidebar-content">
    <!-- Main sidebar Menu -->
    <div class="main-sidebar" *ngFor="let item of mainMenuItems">
      <a class="item-content padding-item-content-16 " [routerLink]="[item.link]">
        <div class="{{item.icon}} item-icon"></div>
        <div class="icon-text"> {{item.text}} </div>
      </a>
    </div>
    <!-- Sidebar search -->
    <div class="sidebar-search">
      <dx-text-box height="32px" width="188px" placeholder="Tìm kiếm" mode="search" stylingMode="underlined"
        [showClearButton]="true"></dx-text-box>

      <div class="sidebar-search__setting"></div>
    </div>

    <!-- Phần hiển thị phòng ban/dự án -->
    <div class="sidebar-scroll">
      <dx-tree-view [dataSource]="departments" itemTemplate="itemTemplate" itemsExpr="ListProjects">

        <!-- Phần hiển thị Phòng ban -->
        <div class="sidebar-scroll__main" *dxTemplate="let itemObj of 'itemTemplate'">
          <div class="sidebar-scroll__department" *ngIf="itemObj.ListProjects">
            <div class="sidebar-scroll__department-content d-flex content-between align-center h-100">
              <div class="sidebar-scroll__department-dropdown d-flex content-center align-center h-100">
              </div>
              <div class="sidebar-scroll__department-title">{{itemObj.DepartmentName}}</div>
            </div>
          </div>

          <!-- Phần hiển thị Dự án -->
          <div class="sidebar-scroll__department-project" *ngIf="!itemObj.ListProjects">
            <div class="sidebar-scroll__project d-flex align-center">
              <div class="sidebar-scroll__project-content  d-flex align-center content-center"
                [routerLink]="['/project']"
                [queryParams]="{Type: 1, ProjectId: itemObj.ProjectId, DepartmentId: itemObj.DepartmentId}">
                <div class="sidebar-scroll__project-icon d-flex align-center content-center">
                  <div class="person-icon"></div>
                </div>
                <div class="sidebar-scroll__project-title">{{itemObj.ProjectName}}</div>
              </div>
            </div>

          </div>
        </div>
      </dx-tree-view>
    </div>

  </div>
</div>
