.ms-sidebar {
  height: 100vh;
  width: 260px;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  padding-top: 20px;

  .sidebar-title {
    width: 100%;
    height: 40px;
    padding-left: 24px;
    margin-bottom: 20px;

    .sidebar-toggle {
      margin-right: 16px;
    }

    .sidebar-logo {
      max-width: 185px;
      max-height: 36px;

      .logo-sidebar {
        width: 32px;
        height: 32px;
        background: url('/assets/img/ICON.svg') -608px -64px no-repeat;
      }

      .logo-name {
        font-size: 24px;
        font-weight: 500;
        padding-left: 8px;

      }
    }

    .icon-menu {
      background-color: white;
      -webkit-mask: url('/assets/img/ICON.svg') no-repeat -580px -68px;
      mask: url('/assets/img/ICON.svg') no-repeat -580px -68px;
      width: 24px;
      height: 24px;
    }
  }

  .sidebar-content {
    .main-sidebar {
      height: 40px;
      font-weight: 500;
      cursor: pointer;
      position: relative;

      :hover {
        background: #212121;
      }

      .item-content {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding-left: 24px;
        align-items: center;
        height: 100%;
        color: #fff;
        padding-right: 16px;
        text-decoration: none !important;

        .item-icon {
          margin-right: 16px;
          min-width: 24px;
        }

        .icon-home-active {
          width: 24px;
          height: 24px;
          -webkit-mask: url('/assets/img/ICON.svg') no-repeat -36px -132px;
          mask: url('/assets/img/ICON.svg') no-repeat -36px -132px;
          background-color: #ffffff;
        }

        .icon-task-active {
          width: 24px;
          height: 24px;
          -webkit-mask: url('/assets/img/ICON.svg') no-repeat -516px -132px;
          mask: url('/assets/img/ICON.svg') no-repeat -516px -132px;
          background-color: #ffffff;
        }

        .icon-report-active {
          width: 24px;
          height: 24px;
          -webkit-mask: url('/assets/img/ICON.svg') no-repeat -644px -36px;
          mask: url('/assets/img/ICON.svg') no-repeat -644px -36px;
          background-color: #ffffff;
        }

        .icon-text {
          font-size: 15px;
          opacity: .87;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          flex: 1;
          text-decoration: none !important;
        }
      }

      .padding-item-content-16 {
        padding-right: 16px !important;
      }
    }


    .sidebar-search {
      margin-top: 16px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .dx-texteditor.dx-editor-underlined {
        border-bottom: 1px solid rgba(#FFFFFF, 0.16);
      }

      .dx-texteditor.dx-state-focused.dx-editor-underlined {
        border-color: rgba(#FFFFFF, 0.16);
      }

      .dx-texteditor.dx-state-hover {
        border-color: #2196F3;
      }

      &__setting {
        width: 24px;
        height: 24px;
        -webkit-mask: url('/assets/img/ICON.svg') no-repeat -644px -324px;
        mask: url('/assets/img/ICON.svg') no-repeat -644px -324px;
        background-color: #ffffff;
        cursor: pointer;
      }
    }

    .sidebar-scroll {
      height: calc(100vh - 248px);

      &__department:first-child {
        margin-top: 8px;
      }

      &__department {
        height: 48px;

        &-content {
          margin-right: 16px;
        }

        &-dropdown {

          width: 52px;
          padding-left: 26px;
          min-width: 30px;
          margin-left: -11px;
        }

        &-icon {
          transform: rotate(-90deg);
        }

        .icon-arow--down {

          width: 8px;
          height: 8px;
          -webkit-mask: url('/assets/img/ICON.svg') no-repeat -236px -110px;
          mask: url('/assets/img/ICON.svg') no-repeat -236px -110px;
          background-color: #ffffff;
          cursor: pointer;
        }

        &-title {

          margin-right: auto;
          color: #ffff !important;
          text-decoration: none !important;
          width: 65%;
          font-weight: 500;
          font-size: 17px;
        }
      }

      &__project:first-child {
        margin-top: 8px;
      }

      &__project {

        padding: 9px 0;
        font-weight: 500;
        cursor: pointer;
        position: relative;

        &-title {
          font-size: 15px;
          font-family: GoogleSans-Regular;
        }

        &-content {

          flex-direction: row;
          justify-content: start;
          padding-left: 24px;
          height: 100%;
          color: #fff;
          padding-right: 16px;
          text-decoration: none !important;

        }

        &-icon {
          border-radius: 50%;
          min-width: 24px;
          min-height: 24px;
          background-color: rgb(33, 150, 243);
          margin-right: 16px;
          width: 24px;
          height: 24px;
          position: relative;
          margin-left: 20px;

        }

        .person-icon {

          width: 16px;
          height: 16px;
          -webkit-mask: url('/assets/img/smallIcon.svg') no-repeat -15.5px -49px;
          mask: url('/assets/img/smallIcon.svg') no-repeat -15.5px -49px;
          background-color: #ffffff;
          cursor: pointer;
        }
      }

    }
  }

}

::ng-deep .dx-treeview {
  // ## Long text positioning
  white-space: nowrap;
  // ##

  // ## Icon width customization
  .dx-treeview-item {
    padding: 0;

    .dx-icon {
      width: 60px !important;
      margin: 0 !important;
    }
  }

  // ##

  // ## Arrow customization
  .dx-treeview-node {
    padding: 0 0 !important;
  }

  .dx-treeview-toggle-item-visibility {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    top: 17px;
    left: 20px;
  }

  .dx-rtl .dx-treeview-toggle-item-visibility {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    top: 17px;
    left: 20px;
  }

  // ##

  // ## Item levels customization
  .dx-treeview-node {
    &[aria-level='1'] {
      font-weight: bold;
      // border-bottom: 1px solid $base-border-color;
    }

    &[aria-level='2'] .dx-treeview-item-content {
      font-weight: normal;
    }
  }

  // ##
}

// ## Selected & Focuced items customization
::ng-deep .dx-treeview {
  .dx-treeview-node-container {
    .dx-treeview-node {
      &.dx-state-selected:not(.dx-state-focused)>.dx-treeview-item {
        background: transparent;
      }

      &.dx-state-selected>.dx-treeview-item * {
        color: #ff5722;
      }

      &>.dx-treeview-item.dx-state-hover {
        background-color: #212121;
      }
    }

  }

  .dx-treeview-item-without-checkbox.dx-state-focused>.dx-treeview-item {
    background-color: transparent;
  }

  .dx-treeview-toggle-item-visibility::before {

    width: 8px;
    height: 8px;
    -webkit-mask: url('/assets/img/ICON.svg') no-repeat -236px -110px;
    mask: url('/assets/img/ICON.svg') no-repeat -236px -110px;
    background-color: #ffffff;
    transform: rotate(-90deg);
    top: unset;
    margin: 0;
    left: unset;
  }

  .dx-treeview-toggle-item-visibility.dx-treeview-toggle-item-visibility-opened::before {

    transform: rotate(0deg) !important;
  }
}

// ##
