@use '../../../../../../styles/colors'as *;
@use '../../../../../../styles/mixins'as *;

.popup__task {
  padding: 0 24px;
  margin: -8px 0;

  &-container {
    display: flex;
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
    margin: 0 -24px;
    padding: 0 24px;
  }

  &--left {
    width: 75%;
    border-right: 1px solid $color-grey;
    padding: 8px 20px 32px 0;
  }

  &--right {
    width: 25%;
  }

  &-header {
    height: 48px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left {
      display: flex;
      align-items: center;
      gap: 16px;
      height: 100%;

    }

    &-dropdown {
      cursor: pointer;

      .logo-user {
        width: 32px;
        height: 32px;
        margin-right: 8px;
        border-radius: 50%;
        background-color: rgb(33, 150, 243);
      }

      .icon-user {
        width: 16px;
        height: 16px;
        -webkit-mask: url('/assets/img/smallIcon.svg') no-repeat -15.5px -49px;
        mask: url('/assets/img/smallIcon.svg') no-repeat -15.5px -49px;
        background-color: #fff;
      }

      .project-title {
        text-decoration: none;
        color: #343a40;
        font-weight: 500;
        margin-right: 4px;
        font-family: "GoogleSans-Regular", sans-serif;
      }

      .icon-caret-down {
        width: 16px;
        height: 16px;
        -webkit-mask: url('/assets/img/ICON.svg') no-repeat -232px -104px;
        mask: url('/assets/img/ICON.svg') no-repeat -232px -104px;
        background-color: #666;
      }
    }

    &--right {
      display: flex;
      align-items: center;
      height: 100%;
    }

    &-button {
      @include icon-size-small;
      @include background-template;
      margin: 0 8px;

      &.important {
        background-image: url('../../../../../../assets/icons/icon-important.svg');
      }

      &.urgent {
        background-image: url('../../../../../../assets/icons/icon-urgent.svg');
      }
    }
  }

  &-assigner {
    margin-bottom: 16px;

    &-label {
      margin-right: 4px;
    }

    &-name {
      color: $color-blue;
    }
  }

  &-popover {

    &-title {
      font-weight: 800;
      font-size: 17px;
      padding: 16px 16px 8px 16px;
      font-family: "GoogleSans-Regular", sans-serif;


    }

    &-content {
      .popover__department-title {
        line-height: 40px;
        opacity: .65;
        font-family: "GoogleSans-Regular", sans-serif;
        font-size: 16px;
        color: #666;
        padding-left: 20px;
        padding-right: 12px;
        display: block;
      }

      .popup__task-popover-project {

        line-height: 40px;
        padding: 0 12px;

        .popover__project {
          margin-left: 8px;

          &-icon {
            border-radius: 50%;
            min-width: 32px;
            min-height: 32px;
            background-color: rgb(33, 150, 243);
            margin-right: 16px;
            width: 32px;
            height: 32px;
            position: relative;

          }

          .person-icon {

            width: 16px;
            height: 16px;
            -webkit-mask: url('/assets/img/smallIcon.svg') no-repeat -15.5px -49px;
            mask: url('/assets/img/smallIcon.svg') no-repeat -15.5px -49px;
            background-color: #ffffff;
            cursor: pointer;
          }

          &-selected {
            position: absolute;
            right: 16px;

            &.icon-tick {
              width: 16px;
              height: 16px;
              -webkit-mask: url('/assets/img/ICON.svg') no-repeat -584px -104px;
              mask: url('/assets/img/ICON.svg') no-repeat -584px -104px;
              background-color: #ffffff;
              cursor: pointer;
            }
          }


        }
      }

      .popup__task-popover-project:hover {
        background-color: #e1eeff;
        cursor: pointer;
      }

      .popup__task-popover-project:hover>.icon-tick {
        background-color: #e1eeff;
      }
    }
  }


  &-input {
    margin-bottom: 16px;

    input {
      border: none;
      font-size: 20px;
      font-weight: 700;
    }

    .popup__task-task-name:focus {
      border: none;
      outline: none;
    }

  }

  &-widget {
    color: $color-blue;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    &-icon {
      @include background-template;
      @include icon-size-default;

      &.desc {
        background-image: url('../../../../../../assets/icons/icon-list.svg');
      }

      &.add {
        background-image: url('../../../../../../assets/icons/icon-add-blue.svg');
      }
    }
  }

  &-selector {
    margin: 16px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--half {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-icon {
      @include background-template;
      @include icon-size-large;

      &.assignee {
        background-image: url('../../../../../../assets/icons/icon-pick-doer.svg');
      }

      &.date {
        background-image: url('../../../../../../assets/icons/icon-pick-date.svg');
      }
    }
  }

  .selector-assignee {
    cursor: pointer;
  }

  &-extra {
    margin-right: -24px;
    padding: 12px 24px 12px 12px;
    border-bottom: 1px solid $color-grey;
    background-color: $color-grey-light;
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;

    &-icon {
      @include background-template;
      @include icon-size-default;

      &.related {
        background-image: url('../../../../../../assets/icons/icon-related.svg');
      }
    }
  }
}

.popup-header {
  color: #1f1f1f !important;
  font-weight: 700;
  font-size: 24px;
  padding: 16px 24px;

  .popup-title {
    font-family: 'GoogleSans-Regular';
  }

  .dx-icon-close {
    font: 20px/1 DXIcons;
    cursor: pointer;
  }
}

.ms-modal__footer {
  padding: 16px 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.ms-modal__button--secondary {
  color: $color-blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.ms-popover__footer {
  padding: 16px 16px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.ms-popover__button--secondary {
  color: $color-blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.ms-assignee-info {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  &__avatar {
    @include icon-size-large;
    font-family: 'GoogleSans-Regular', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    border-radius: 50%;
  }

  &__icon {
    position: absolute;
    right: 16px;

    &.icon-tick {
      width: 16px;
      height: 16px;
      -webkit-mask: url('/assets/img/ICON.svg') no-repeat -584px -104px;
      mask: url('/assets/img/ICON.svg') no-repeat -584px -104px;
      background-color: #ffffff;
      cursor: pointer;
    }
  }

  &__text {
    padding-right: 8px;
  }
}

.ms-date-info {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  &__avatar {
    @include icon-size-large;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    border-radius: 50%;
    background-color: $color-grey-dark;

    .icon-calendar-small-white {
      width: 24px;
      height: 24px;
      -webkit-mask: url('/assets/img/ICON.svg') no-repeat -260px -164px;
      mask: url('/assets/img/ICON.svg') no-repeat -260px -164px;
      background-color: #ffffff;
      cursor: pointer;
    }
  }

  &__text {
    padding-right: 8px;
  }
}

.ms-user-info {
  padding: 8px 24px;
  display: flex;
  align-items: flex-start;
  gap: 16px;

  &__avatar {
    @include icon-size-large;
    font-family: 'GoogleSans-Regular', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    border-radius: 50%;
  }

  &__icon {
    position: absolute;
    right: 16px;

    &.icon-tick {
      width: 16px;
      height: 16px;
      -webkit-mask: url('/assets/img/ICON.svg') no-repeat -584px -104px;
      mask: url('/assets/img/ICON.svg') no-repeat -584px -104px;
      background-color: #ffffff;
      cursor: pointer;
    }
  }

  &__text {
    padding-right: 8px;
  }
}


.ms-user-info:hover {
  background-color: #e1eeff;
  cursor: pointer;
}

.ms-user-info:hover>.icon-tick {
  background-color: #e1eeff;
}

.ms-calendar__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-bottom: unset;
}

.modal__progress-btn {
  font-size: 15px;
  height: 34px;
  padding: 5px 8px 5px 12px;
  border: 1px solid $color-text;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &--middle {
    width: 1px;
    height: 100%;
    background-color: $color-text;
  }

  &--right {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: "GoogleSans-Regular", sans-serif;
  }

  &-icon {
    @include background-template;
    @include icon-size-small;
    background-image: url('../../../../../../assets/icons/icon-arrow-down-dark.svg');
  }
}


.popover-progress {
  &__container {
    padding: 16px 24px;
  }

  &__title {
    font-size: 17px;
    font-family: "GoogleSans-Regular", sans-serif;
    font-weight: 500;
  }

  &__slider {
    &-bar {
      width: 100%;
      margin: 16px 0 5px;
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: space-between;
    }

    &-btn {
      @include background-template;
      @include icon-size-default;
      cursor: pointer;

      &.minus {
        background-image: url('../../../../../../assets/icons/icon-minus.svg');
      }

      &.plus {
        background-image: url('../../../../../../assets/icons/icon-add-blue.svg');
      }
    }
  }

  &__steps {
    width: 95%;
    margin: 0 0 16px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__step {
    width: 20%;
  }

  &__input-field {
    display: flex;
    gap: 16px;
    align-items: center;

    .text-field {
      margin-bottom: 0 !important;
    }
  }

  &__footer {
    margin-top: -8px;
    display: flex;
    justify-content: flex-end;
  }
}

.icon-done-green {
  width: 24px;
  height: 24px;
  background: url('/assets/img/ICON.svg') -100px -196px no-repeat;
}