<dx-popup class="ms-popup" [width]="popupWidth" height="auto" [shadingColor]="'rgba(0, 0, 0, 0.45)'" [dragEnabled]="true"
  (onHidden)="closePopup()" [visible]="isPopupOpen" (onShown)="autoFocus()" contentTemplate="currentTemplate" titleTemplate="title">

  <div *dxTemplate="let data of 'currentTemplate'">
    <ng-content></ng-content>
  </div>
  
  <div *dxTemplate="let data of 'title'">
    <div class="popup-header d-flex content-between align-center">
      <div class="popup-title">{{popupTitle}}</div>
      <div class="button-close dx-icon-close" (click)="closePopup()"></div>
    </div>
  </div>
</dx-popup>
