<dx-popup class="ms-popup" [width]="popupWidth" height="auto" [shadingColor]="'rgba(0, 0, 0, 0.45)'" [dragEnabled]="true"
  (onHidden)="closePopup()" [visible]="isPopupOpen" contentTemplate="{{currentTemplate}}" titleTemplate="title">

  <!-- <div *dxTemplate="let data of 'projectTemplate'">
    <app-popup-project></app-popup-project>
  </div>

  <div *dxTemplate="let data of 'departmentTemplate'">
    <app-popup-department></app-popup-department>
  </div>

  <div *dxTemplate="let data of 'task'">
    <div>Hello Task</div>
  </div> -->
  
  <div *dxTemplate="let data of 'title'">
    <div class="popup-header d-flex content-between align-center">
      <div class="popup-title">{{popupTitle}}</div>
      <div class="button-close dx-icon-close" (click)="closePopup()"></div>
    </div>
  </div>
</dx-popup>
