@import'../../../styles/colors.scss';
@import'../../../styles/mixins.scss';

.ms-nav {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;


  &--right,
  &--left {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__button {
    height: 32px;
    border-radius: 24px;
    font-size: 13px;
    padding: 0 16px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;

    &-group {
      position: relative;
    }

    &--add {
      padding: 0 12px 0 8px;
      border-radius: 24px 0 0 24px;
    }

    &--dropdown {
      padding: 0 8px;
      border-radius: 0 24px 24px 0;
    }

    &-separator {
      background-color: #FFFFFF;
      width: 1px;
      height: 24px;
      position: absolute;
      right: 32px;
    }

    &-icon {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 4px;

      &.edit {
        width: 16px;
        height: 16px;
        background-image: url('../../../assets/icons/icon-header-edit.svg');
      }

      &.add {
        width: 24px;
        height: 24px;
        background-image: url('../../../assets/icons/icon-header-add.svg');
      }

      &.dropdown {
        width: 16px;
        height: 16px;
        margin-right: 0;
        background-image: url('../../../assets/icons/icon-arrow-down.svg');
      }
    }
  }

  &__home {
    border-right: 1px solid #e0e0e0;
  }

  &__title {
    margin-left: 16px;

    .logo-user {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;
      background-color: rgb(33, 150, 243);
    }

    .icon-user {
      width: 16px;
      height: 16px;
      -webkit-mask: url('/assets/img/smallIcon.svg') no-repeat -15.5px -49px;
      mask: url('/assets/img/smallIcon.svg') no-repeat -15.5px -49px;
      background-color: #fff;
    }

    .icon-setting {
      width: 24px;
      height: 24px;
      background: url('/assets/img/ICON.svg') -644px -324px no-repeat;
    }

    .project-title {
      text-decoration: none;
      color: #343a40;
      font-weight: 500;
      margin-right: 4px;
    }

    .project-setting {
      padding: 0 30px;
      border-right: 1px solid #e0e0e0;
    }


  }

  &__dropdown-item {
    @include icon-size-default;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;

    .icon-add-project {
      background-image: url("../../../assets/icons/icon-add-project.svg");
    }

    .icon-add-department {
      background-image: url("../../../assets/icons/icon-add-department.svg");
    }
  }

  &__dropdown-icon {
    @include icon-size-default;
    @include background-template;
    cursor: pointer;
  }

  .project-grids {
    margin-left: 16px;

    .project-items {

      line-height: 37px;
      cursor: pointer;
      margin-left: 24px;
    }
  }


  .icon-menu {
    background-color: #666;
    -webkit-mask: url('/assets/img/ICON.svg') no-repeat -580px -68px;
    mask: url('/assets/img/ICON.svg') no-repeat -580px -68px;
    width: 24px;
    height: 24px;
    margin: 0 16px 0 8px;
  }

  .icon-home {
    width: 24px;
    height: 24px;
    cursor: pointer;
    -webkit-mask: url('/assets/img/ICON.svg') no-repeat -36px -132px;
    mask: url('/assets/img/ICON.svg') no-repeat -36px -132px;
    background-color: #666;
    margin-right: 24px;
  }

  .icon-caret-down {
    width: 16px;
    height: 16px;
    -webkit-mask: url('/assets/img/ICON.svg') no-repeat -232px -104px;
    mask: url('/assets/img/ICON.svg') no-repeat -232px -104px;
    background-color: #666;
  }

  .icon-search {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    -webkit-mask: url('/assets/img/ICON.svg') no-repeat -164px -132px;
    mask: url('/assets/img/ICON.svg') no-repeat -164px -132px;
    background-color: #ffffff;
  }

  .icon-bell {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    -webkit-mask: url('/assets/img/ICON.svg') no-repeat -133px -132px;
    mask: url('/assets/img/ICON.svg') no-repeat -133px -132px;
    background-color: #ffffff;
  }

  .icon-info {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    -webkit-mask: url('/assets/img/ICON.svg') no-repeat -324px -388px;
    mask: url('/assets/img/ICON.svg') no-repeat -324px -388px;
    background-color: #ffffff;
  }

  .icon-detail {
    width: 24px;
    height: 24px;
    margin-left: 24px;
    -webkit-mask: url('/assets/img/ICON.svg') no-repeat -740px -292px;
    mask: url('/assets/img/ICON.svg') no-repeat -740px -292px;
    background-color: #ffffff;
  }

  .ava-icon {
    width: 32px;
    height: 32px;
    margin-left: 24px;
    background-color: #a3cf32;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
  }
}
